@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(209, 179, 40);
  background: -moz-linear-gradient(
    19deg,
    rgba(209, 179, 40, 1) 100%,
    rgba(234, 227, 255, 1) 100%,
    rgba(247, 249, 214, 1) 100%
  );
  background: -webkit-linear-gradient(
    19deg,
    rgba(209, 179, 40, 1) 100%,
    rgba(234, 227, 255, 1) 100%,
    rgba(247, 249, 214, 1) 100%
  );
  background: linear-gradient(
    19deg,
    rgba(209, 179, 40, 1) 100%,
    rgba(234, 227, 255, 1) 100%,
    rgba(247, 249, 214, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d1b328",endColorstr="#f7f9d6",GradientType=1);
}

.font-sans {
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
}

.font-serif {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

.font-helvetica {
  font-family: "Helvetica", sans-serif;
}
